<div class="row">
    <div class="container">
      <div class="logo">
          <img src="../../../assets/APLogo.png" id="logoAP">
      </div>
      <div class="redes">
        <ul class="social-network social-circle">
          <li><a href="https://github.com/anibalmir81" class="icoGitHub" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/anibalmir" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li></li>
          <li></li>
          <!--<li><a href="/login" class="icoUser" title="Ingresar - LOGIN" *ngIf="!isLogged"><i class="fa fa-user"></i></a></li>-->
          <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Iniciar Sesion</button>
          <button type="button" class="btn btn-outline-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
        </ul>
      </div>
      <!--
      <div class="redes">
          <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LOG IN</button>
          <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LOG OUT</button>
          <a href="https://www.linkedin.com/in/alejandra-r-de-cajal/" target="_blank"><img src="../../../assets/ImagenesPorfolio/linkedin.png" id="linkedin"></a>
          <a href="https://github.com/alejandrardecajal/PI" target="_blank"><img src="../../../assets/ImagenesPorfolio/github.png" id="github"></a>  
      </div>
    </div>
  </div>
-->
